
body {
  margin: auto;
  min-width: 100%;
  background-image: url('./images/background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
  background-color: #000;
  height: auto;
  max-height: 400px;
  max-width: 400px;
  position: fixed;
  text-align: center;
  width: auto;
  color: #fff;
}

h3 {
  color: #fff;
}

.banner {
  text-align: center;
  font-size: 8vw;
  color: #fff;
  margin-top: 10px;
}

.turn {
  margin-bottom: 10px;
  font-size: 26px;
  color: #fff;
  text-align:center;
}

.messages {
  margin-bottom: 10px;
  font-size: 26px;
  color: #fff;
  text-align:center;
}

.newGame {
  margin: 0 auto;
  background-color: #FF0000;
  color: #FFF;
}

#get-games {
  margin: 0 auto;
  background-color: #FF0000;
  color: #FFF;
}

.cpass {
  margin:0 auto;
  position: fixed;
  width: 200px;
  left: 40px;
  bottom: 40px;
  right: 40px;
  top: 40px;
  border: 3px solid #fff;
  padding: 3px;
  background-color: #ff0000;
  color: #fff;
  max-height: 200px;
}
