.checkoutbtn {
  background-color: #FF0000;
  color: #FFF;
  left: 1px;
  position: absolute;
  top: 1px;
}

.changepass {
  background-color: #FF0000;
  color: #FFF;
  position: absolute;
  right: 1px;
  top: 1px;
}

.location {
  background-color: #ff0000;
  background-image: url('./images/modal.jpg');
  background-size: cover;
  color: #fff;
  margin: 0 auto;
  max-height: 45%;
  max-width: 30%;
  position: absolute;
}

.modal-content {
  background-color: #fff;
  margin: 0 auto;
  max-height: 75%;
  max-width: 65%;
  min-height: 75%;
  min-width: 55%;
  opacity: .6;
  position: fixed;
}

.position-modal {
  background-color: #ff0000;
  border: 3px solid #fff;
  color: #fff;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
}

.signupsignin {
  background-color: #FF0000;
  color: #FFF;
  margin: 0 auto;
}

.tab-content {
  max-height: 100%;
  max-width: 100%;
}
