.position-modal {
  position: absolute;
  right: 2px;
  bottom: 1px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.location {
  margin: 0 auto;
  max-width: 600vw;
  max-height: 200vw;
  color: #000;
  background-color: #000;
  background: url('http://i41.tinypic.com/29wjxw9.jpg');
  background-size: cover;
}
