$td-color: #555;
$td-white: #fff;

table {
  left: 0;
  margin: auto;
  max-height: 40vw;
  max-width: 30vw;
  min-height: 20vw;
  min-width: 25vw;
  right: 0;
  text-align: center;

  td {
    border: 5px solid;
    border-color: $td-white;
    cursor: pointer;
    height: 75px;

    &::before {
      font-size: 1.5em;
      line-height: 1;
    }

    // player 1
    &.cross::before {
      content: url("./images/cross.gif");
    }

    // player 2
    &.circle::before {
      content: url("./images/circle.gif");
    }
  }
}
