$td-color: #555;
$td-white: #fff;

table {
  left: 0;
  margin: auto;
  max-height: 50vw;
  max-width: 45vw;
  min-height: 50vw;
  min-width: 45vw;
  right: 0;
  text-align: center;

  td {
    border: 5px solid;
    border-color: $td-white;
    cursor: pointer;
    height: 20vw;
    width: 30vw;

    &::before {
      font-size: 1.5em;
      line-height: 1;
    }

    // player 1
    &.cross::before {
      content: url('./images/Naruto.png');
      height: 10px;
    }

    // player 2
    &.circle::before {
      content: url('./images/Saske.png');
      height: 10px;
    }
  }
}
