$td-color: #555;
$cross-white: #fff;
$fire-red: #e81717;
$last-color: #d42;

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 150px;

  td {
    border: 1px solid;
    border-color: $td-color;
    cursor: pointer;
    height: 50px;
    width: 50px;

    &::before {
      font-size: 1.5em;
      line-height: 1;
    }

    &.cross::before {
      color: $cross-white;
      content: 'x';
    }

    &.circle::before {
      color: $fire-red;
      content: 'o';
    }
  }

  .reset {
    background: $td-color;
    border: 1px solid $last-color;
    color: $cross-white;
    cursor: pointer;
    font-family: 'Roboto', Arial, sans-serif;
    padding: 5px 10px;
    text-transform: uppercase;

    &:hover {
      opacity: .8;
		}
	}
}
